body{
    margin: 2rem;
    background-color: aliceblue;
    text-align: center;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#form{
    width: 30%;
}
#search{
    width: 30%;
}